{% extends './base.html' %}

{% block title %}Welcome{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-1">Hi</h1>
                <p class="lead">This site provides a user-friendly and minimalistic way of tracking your mental health every day.
                Remembering to take some time each day can be difficult. We try to help with that by sending text reminders.
                You can be sent one (or more) texts per day with a link to take note and reflect on your day and how you are feeling.</p>
            </div>
        </div>
    </div>
{% endblock %}