{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Survey Response{% endblock %}

{% block content %}
<div class="container-sm mt-5">
    <div class="mb-4">
        <h1 class="display-5">Hi, {{ user_first_name }}</h1>
    </div>
    <form action="{% url 'form-uuid' survey_id %}" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.response.id_for_label }}" class="form-label">How are you today?</label>
            {{ form.response }}
        </div>
        <div class="mb-4">
            <label for="{{ form.test_response.id_for_label }}" class="form-label">Is there anything you would like to
                say about today?</label>
            {{ form.text_response }}
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
</div>
{% endblock %}